@import url(https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap);





body {
  font-family: DM Sans;
}
.display-1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 10rem;
}
.display-1 > .mbr-iconfont {
  font-size: 16rem;
}
.display-2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 5rem;
  line-height: 1.3;
}
.display-2 > .mbr-iconfont {
  font-size: 8rem;
}
.display-4 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-7 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 6rem;
  }
}
@media (max-width: 767px) {
  .display-1 {
    font-size: 2.5rem !important;
  }
}
@media (max-width: 992px) {
  .display-4 {
    font-size: 0.6rem;
  }
}
@media (max-width: 992px) {
  .display-5 {
    font-size: 1.44rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 8rem;
    font-size: calc( 4.1499999999999995rem + (10 - 4.1499999999999995) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (4.1499999999999995rem + (10 - 4.1499999999999995) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 4rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 6px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 6px;
}
.bg-primary {
  background-color: #ff2d55 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #808080 !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ff2d55 !important;
  border-color: #ff2d55 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #e0002b !important;
  border-color: #e0002b !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #e0002b !important;
  border-color: #e0002b !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #808080 !important;
  border-color: #808080 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #5a5a5a !important;
  border-color: #5a5a5a !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #5a5a5a !important;
  border-color: #5a5a5a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #c60026;
  color: #c60026;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ff2d55;
  border-color: #ff2d55;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff2d55 !important;
  border-color: #ff2d55 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #4d4d4d;
  color: #4d4d4d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #808080 !important;
  border-color: #808080 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ff2d55 !important;
}
.text-secondary {
  color: #149dcc !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #808080 !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #ff93a8 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #57c8ef !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #fbf7ac !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #b2aba4 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #b3b3b3 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #d6ceb5 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #808080;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff2d55;
  border-color: #ff2d55;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ff2d55;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fff9fa;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #c0c0c0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #ff2d55;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff2d55;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff2d55;
  border-bottom-color: #ff2d55;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #ff2d55 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #149dcc !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff2d55' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-rRAA07dbWc {
  padding-top: 225px;
  padding-bottom: 225px;
  background-image: url("../../../assets/images/mbr-1-1920x1079.jpg");
}
.cid-rRAA07dbWc h1 {
  background-color: transparent;
  overflow: hidden;
  display: inline-block;
  color: transparent;
  line-height: 1;
}
.cid-rRAA07dbWc span {
  background-image: url("../../../assets/images/background2.jpg");
  background-size: 1920px 600px;
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: block;
  animation: scroll 14s infinite linear;
  pointer-events: none;
}
@keyframes scroll {
  0% {
    background-position-y: 0px;
  }
  99.999% {
    background-position-y: -600px;
  }
  100% {
    background-position-y: 0px;
  }
}
.cid-rRAA07dbWc .mbr-section-title {
  color: #ffffff;
}
.cid-rRDaoOHSyv {
  padding-top: 45px;
  background-image: url("../../../assets/images/mbr-4-1920x1079.jpeg");
}
.cid-rRDaoOHSyv .text-content {
  padding-bottom: 60px;
}
.cid-rRDaoOHSyv .content-container .btn-bgr {
  z-index: 0;
}
.cid-rRDaoOHSyv .box-item-text {
  color: #767676;
}
.cid-rRDaoOHSyv .box-item {
  padding: 2.5rem;
}
.cid-rRDaoOHSyv .box-item:first-child {
  background-color: #ffffff;
}
.cid-rRDaoOHSyv .box-item:nth-child(2) {
  background-color: #f5f5f5;
}
.cid-rRDaoOHSyv .box-item:last-child {
  background-color: #ffffff;
}
.cid-rRDaoOHSyv .box-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.cid-rRDaoOHSyv .box-list li {
  border-bottom: 1px solid;
  padding: 10px 0 5px;
}
.cid-rRDaoOHSyv .box-list li:last-child {
  border-bottom: none;
}
.cid-rRDaoOHSyv .box-list li span {
  float: right;
  text-align: right;
  padding-left: 0.5rem;
}
.cid-rRDaoOHSyv .mbr-iconfont {
  color: #ff2d55;
  font-size: 48px;
}
@media (min-width: 992px) {
  .cid-rRDaoOHSyv .media-container-row {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .cid-rRDaoOHSyv .mbr-section-subtitle,
  .cid-rRDaoOHSyv .mbr-section-title,
  .cid-rRDaoOHSyv .mbr-text,
  .cid-rRDaoOHSyv .mbr-section-btn,
  .cid-rRDaoOHSyv .icon-block-top,
  .cid-rRDaoOHSyv .box-item-title,
  .cid-rRDaoOHSyv .box-item-text {
    text-align: center !important;
  }
}
.cid-rRDaoOHSyv .mbr-section-title {
  color: #232323;
}
.cid-rRDaoOHSyv .mbr-text,
.cid-rRDaoOHSyv .mbr-section-btn {
  color: #232323;
}
.cid-rRDaoOHSyv .mbr-section-subtitle {
  color: #767676;
}
.cid-rRABemVSbf {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rRABemVSbf h4 {
  margin-bottom: 0;
}
.cid-rRABemVSbf .card:hover img {
  box-shadow: 0 10px 55px 5px rgba(41, 185, 234, 0.35);
}
.cid-rRABemVSbf .btn[class*="-outline"] {
  border: none;
  padding: 0;
  margin: 0 0.25rem!important;
  box-shadow: none!important;
}
.cid-rRABemVSbf .btn[class*="-outline"] span {
  order: 2;
  font-size: 1.1rem;
  padding-top: 3px;
  transition: padding 0.3s!important;
}
.cid-rRABemVSbf .btn[class*="-outline"]:hover span {
  padding-left: 10px;
}
.cid-rRABemVSbf .btn[class*="-outline"]:hover {
  background-color: transparent!important;
  color: #ff2d55 !important;
  box-shadow: none!important;
}
.cid-rRABemVSbf .btn[class*="-outline"]:active,
.cid-rRABemVSbf .btn[class*="-outline"]:focus {
  background-color: transparent!important;
  box-shadow: none!important;
}
.cid-rRABemVSbf .card-box {
  padding-top: 2rem;
}
.cid-rRABemVSbf .card-wrapper {
  height: 100%;
}
.cid-rRABemVSbf .mbr-iconfont {
  padding-left: 0.4rem;
}
.cid-rRABemVSbf img {
  transition: all 0.3s;
  border-radius: 8px;
}
.cid-rRABemVSbf .card-title {
  color: #149dcc;
}
.cid-rRABemVSbf .main-title {
  color: #149dcc;
}
.cid-rRABemVSbf .mbr-text,
.cid-rRABemVSbf .mbr-link-btn {
  color: #767676;
}
.cid-rRDG5sK3dV {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-8-1920x1280.jpg");
}
.cid-rRDG5sK3dV .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-rRDG5sK3dV .table {
  margin-bottom: 0;
}
.cid-rRDG5sK3dV .table .table-wrapper {
  padding: 2rem;
  background: #ffffff;
  position: relative;
}
.cid-rRDG5sK3dV .table .table-wrapper .table-head-wrapper {
  background: #55b4d4;
  margin: -2rem;
  margin-bottom: 0 !important;
  padding: 2rem;
  padding-bottom: 0 !important;
}
.cid-rRDG5sK3dV .table .table-wrapper .table-head-wrapper span {
  width: 100%;
  display: block;
}
.cid-rRDG5sK3dV .table .table-wrapper .table-purchase {
  padding-bottom: 2rem;
}
.cid-rRDG5sK3dV .table .table-wrapper .table-purchase .table-pricing {
  margin: 0;
  margin-top: .5rem !important;
}
.cid-rRDG5sK3dV .table .table-wrapper .list-group {
  list-style: none;
  padding-top: 2rem;
}
.cid-rRDG5sK3dV .table .table-wrapper .list-group li {
  padding: .4rem;
  border-bottom: 1px solid #efefef;
}
.cid-rRDG5sK3dV .table .table-wrapper .list-group li .mbr-iconfont {
  font-size: 30px;
}
@media (max-width: 767px) {
  .cid-rRDG5sK3dV .table:not(.last-table) {
    margin-bottom: 1rem;
  }
  .cid-rRDG5sK3dV .table-heading {
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-rRDG5sK3dV .table.first-row-table {
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-rRDG5sK3dV .table {
    margin-bottom: 0;
  }
}
.cid-rJ1R6SihXk {
  padding-top: 180px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rJ1R6SihXk .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.5;
}
.cid-rJ1R6SihXk .container {
  max-width: 1400px;
  padding: 0 3rem;
}
.cid-rJ1R6SihXk textarea {
  min-height: 150px;
}
.cid-rJ1R6SihXk .row2 {
  justify-content: space-between;
  border: 2px solid #000000;
  padding: 3rem;
}
.cid-rJ1R6SihXk h3 {
  width: fit-content;
  display: inline-block;
  position: relative;
}
.cid-rJ1R6SihXk h3:before {
  position: absolute;
  content: '';
  left: 50%;
  top: -120px;
  bottom: 0;
  width: 1px;
  height: 100px;
  background: currentColor;
}
.cid-rJ1R6SihXk form .btn {
  border-radius: 30px;
  margin: 0.18rem;
}
.cid-rJ1R6SihXk .form-control,
.cid-rJ1R6SihXk .field-input {
  padding: 1rem;
  background-color: transparent;
  border: 2px solid #000000;
  color: #000000;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rJ1R6SihXk .form-control::-webkit-input-placeholder,
.cid-rJ1R6SihXk .field-input::-webkit-input-placeholder,
.cid-rJ1R6SihXk .form-control::-webkit-input-placeholder,
.cid-rJ1R6SihXk .field-input::-webkit-input-placeholder {
  color: #000000;
}
.cid-rJ1R6SihXk .form-control:-moz-placeholder,
.cid-rJ1R6SihXk .field-input:-moz-placeholder,
.cid-rJ1R6SihXk .form-control:-moz-placeholder,
.cid-rJ1R6SihXk .field-input:-moz-placeholder {
  color: #000000;
}
.cid-rJ1R6SihXk .form-control:hover,
.cid-rJ1R6SihXk .field-input:hover,
.cid-rJ1R6SihXk .form-control:focus,
.cid-rJ1R6SihXk .field-input:focus {
  background-color: transparent;
  border-color: #000000;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-rJ1R6SihXk .form-control:hover::-webkit-input-placeholder,
.cid-rJ1R6SihXk .field-input:hover::-webkit-input-placeholder,
.cid-rJ1R6SihXk .form-control:focus::-webkit-input-placeholder,
.cid-rJ1R6SihXk .field-input:focus::-webkit-input-placeholder,
.cid-rJ1R6SihXk .form-control:hover::-webkit-input-placeholder,
.cid-rJ1R6SihXk .field-input:hover::-webkit-input-placeholder,
.cid-rJ1R6SihXk .form-control:focus::-webkit-input-placeholder,
.cid-rJ1R6SihXk .field-input:focus::-webkit-input-placeholder {
  color: #000000;
}
.cid-rJ1R6SihXk .form-control:hover:-moz-placeholder,
.cid-rJ1R6SihXk .field-input:hover:-moz-placeholder,
.cid-rJ1R6SihXk .form-control:focus:-moz-placeholder,
.cid-rJ1R6SihXk .field-input:focus:-moz-placeholder,
.cid-rJ1R6SihXk .form-control:hover:-moz-placeholder,
.cid-rJ1R6SihXk .field-input:hover:-moz-placeholder,
.cid-rJ1R6SihXk .form-control:focus:-moz-placeholder,
.cid-rJ1R6SihXk .field-input:focus:-moz-placeholder {
  color: #000000;
}
.cid-rJ1R6SihXk .jq-number__spin:hover,
.cid-rJ1R6SihXk .jq-number__spin:focus {
  background-color: transparent;
  border-color: #000000;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-rJ1R6SihXk .jq-number__spin {
  background-color: transparent;
  border-color: #000000;
  color: #000000;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rJ1R6SihXk input::-webkit-clear-button {
  display: none;
}
.cid-rJ1R6SihXk input::-webkit-inner-spin-button {
  display: none;
}
.cid-rJ1R6SihXk input::-webkit-outer-spin-button {
  display: none;
}
.cid-rJ1R6SihXk input::-webkit-calendar-picker-indicator {
  display: none;
}
@media (max-width: 767px) {
  .cid-rJ1R6SihXk .container {
    padding: 0 2rem;
  }
  .cid-rJ1R6SihXk .row2 {
    padding: 1rem 0;
  }
}
.cid-rJ1R6SihXk H2 {
  color: #000000;
}
.cid-rJ1R6SihXk .mbr-text,
.cid-rJ1R6SihXk .mbr-section-btn {
  color: #000000;
}
.cid-rRDSruGezU {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/mbr-1920x1079.jpg");
}
.cid-rRDSruGezU .navbar-logo {
  width: 100px;
  margin-bottom: 10px;
  margin: auto;
}
.cid-rRDSruGezU .navbar-brand {
  margin: auto;
  width: 100%;
  text-align: center;
}
.cid-rRDSruGezU .socicon {
  font-size: 1.3rem;
  background: #e9e9e9;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rRDSruGezU .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.cid-rRDSruGezU .social-list .soc-item {
  display: inline-block;
  margin: 0 0.3rem;
}
.cid-rRDSruGezU .text2 {
  color: #000000;
  text-align: left;
}
.cid-rRDSruGezU .group-title {
  text-align: left;
  color: #000000;
  padding-bottom: 0.2rem;
}
.cid-rRDSruGezU .logo-title {
  text-align: center;
}
.cid-rRDSruGezU .logo-sub-title {
  text-align: center;
}
.cid-rRDSruGezU .links {
  text-align: center;
  color: #656565;
}
.cid-rRDSruGezU .logo-sub-title i {
  color: #9e9e9e;
}
.cid-rRDLAgb1Cl .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rRDLAgb1Cl .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-rRDLAgb1Cl .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-rRDLAgb1Cl .nav-link {
  position: relative;
}
.cid-rRDLAgb1Cl .nav-link:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: .2;
  height: 50%;
  width: 100%;
  background-color: currentColor;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s ease-out;
}
.cid-rRDLAgb1Cl .nav-link:hover:before {
  transform-origin: left top;
  transform: scale(1, 1);
}
.cid-rRDLAgb1Cl .container {
  display: flex;
  margin: auto;
}
.cid-rRDLAgb1Cl .navbar.navbar-short .nav-link,
.cid-rRDLAgb1Cl .navbar.navbar-short .navbar-caption,
.cid-rRDLAgb1Cl .navbar.navbar-short .mbr-iconfont,
.cid-rRDLAgb1Cl .navbar.navbar-short .btn {
  color: #000000 !important;
  border-color: #000000;
}
.cid-rRDLAgb1Cl .navbar.navbar-short .hamburger span {
  background: #000000 !important;
}
.cid-rRDLAgb1Cl .navbar-caption {
  padding-right: 3rem;
}
.cid-rRDLAgb1Cl .dropdown-menu,
.cid-rRDLAgb1Cl .navbar.opened {
  background: #000000 !important;
}
.cid-rRDLAgb1Cl .nav-item:focus,
.cid-rRDLAgb1Cl .nav-link:focus {
  outline: none;
}
.cid-rRDLAgb1Cl .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rRDLAgb1Cl .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rRDLAgb1Cl .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rRDLAgb1Cl .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rRDLAgb1Cl .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rRDLAgb1Cl .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rRDLAgb1Cl .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
  background: none;
}
.cid-rRDLAgb1Cl .navbar.opened {
  transition: all .3s;
}
.cid-rRDLAgb1Cl .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rRDLAgb1Cl .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-rRDLAgb1Cl .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rRDLAgb1Cl .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-rRDLAgb1Cl .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rRDLAgb1Cl .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rRDLAgb1Cl .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rRDLAgb1Cl .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rRDLAgb1Cl .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rRDLAgb1Cl .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rRDLAgb1Cl .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rRDLAgb1Cl .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rRDLAgb1Cl .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rRDLAgb1Cl .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rRDLAgb1Cl .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rRDLAgb1Cl .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rRDLAgb1Cl .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rRDLAgb1Cl .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rRDLAgb1Cl .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rRDLAgb1Cl .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-rRDLAgb1Cl .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rRDLAgb1Cl .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rRDLAgb1Cl .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-rRDLAgb1Cl .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rRDLAgb1Cl .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rRDLAgb1Cl .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rRDLAgb1Cl .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rRDLAgb1Cl .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rRDLAgb1Cl .dropdown-item.active,
.cid-rRDLAgb1Cl .dropdown-item:active {
  background-color: transparent;
}
.cid-rRDLAgb1Cl .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rRDLAgb1Cl .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rRDLAgb1Cl .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rRDLAgb1Cl .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-rRDLAgb1Cl .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rRDLAgb1Cl .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rRDLAgb1Cl ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rRDLAgb1Cl .navbar-buttons {
  text-align: center;
}
.cid-rRDLAgb1Cl button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rRDLAgb1Cl button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rRDLAgb1Cl button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rRDLAgb1Cl button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rRDLAgb1Cl button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rRDLAgb1Cl button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rRDLAgb1Cl nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rRDLAgb1Cl nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rRDLAgb1Cl nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rRDLAgb1Cl nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rRDLAgb1Cl .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rRDLAgb1Cl a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rRDLAgb1Cl .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rRDLAgb1Cl .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
.cid-rRDLAgb1Cl .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rRDLAgb1Cl .navbar {
    height: 77px;
  }
  .cid-rRDLAgb1Cl .navbar.opened {
    height: auto;
  }
  .cid-rRDLAgb1Cl .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rRDLAgb1Cl .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rRDLAgb1Cl .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-rRDLAgb1Cl .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-rRDLAgb1Cl .nav-link {
  position: relative;
}
.cid-rRDLAgb1Cl .nav-link:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: .2;
  height: 50%;
  width: 100%;
  background-color: currentColor;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s ease-out;
}
.cid-rRDLAgb1Cl .nav-link:hover:before {
  transform-origin: left top;
  transform: scale(1, 1);
}
.cid-rRDLAgb1Cl .container {
  display: flex;
  margin: auto;
}
.cid-rRDLAgb1Cl .navbar.navbar-short .nav-link,
.cid-rRDLAgb1Cl .navbar.navbar-short .navbar-caption,
.cid-rRDLAgb1Cl .navbar.navbar-short .mbr-iconfont,
.cid-rRDLAgb1Cl .navbar.navbar-short .btn {
  color: #000000 !important;
  border-color: #000000;
}
.cid-rRDLAgb1Cl .navbar.navbar-short .hamburger span {
  background: #000000 !important;
}
.cid-rRDLAgb1Cl .navbar-caption {
  padding-right: 3rem;
}
.cid-rRDLAgb1Cl .dropdown-menu,
.cid-rRDLAgb1Cl .navbar.opened {
  background: #000000 !important;
}
.cid-rRDLAgb1Cl .nav-item:focus,
.cid-rRDLAgb1Cl .nav-link:focus {
  outline: none;
}
.cid-rRDLAgb1Cl .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rRDLAgb1Cl .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rRDLAgb1Cl .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rRDLAgb1Cl .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rRDLAgb1Cl .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rRDLAgb1Cl .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rRDLAgb1Cl .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
  background: none;
}
.cid-rRDLAgb1Cl .navbar.opened {
  transition: all .3s;
}
.cid-rRDLAgb1Cl .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rRDLAgb1Cl .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-rRDLAgb1Cl .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rRDLAgb1Cl .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-rRDLAgb1Cl .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rRDLAgb1Cl .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rRDLAgb1Cl .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rRDLAgb1Cl .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rRDLAgb1Cl .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rRDLAgb1Cl .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rRDLAgb1Cl .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rRDLAgb1Cl .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rRDLAgb1Cl .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rRDLAgb1Cl .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rRDLAgb1Cl .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rRDLAgb1Cl .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rRDLAgb1Cl .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rRDLAgb1Cl .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rRDLAgb1Cl .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rRDLAgb1Cl .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-rRDLAgb1Cl .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rRDLAgb1Cl .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rRDLAgb1Cl .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-rRDLAgb1Cl .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rRDLAgb1Cl .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rRDLAgb1Cl .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rRDLAgb1Cl .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rRDLAgb1Cl .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rRDLAgb1Cl .dropdown-item.active,
.cid-rRDLAgb1Cl .dropdown-item:active {
  background-color: transparent;
}
.cid-rRDLAgb1Cl .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rRDLAgb1Cl .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rRDLAgb1Cl .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rRDLAgb1Cl .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-rRDLAgb1Cl .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rRDLAgb1Cl .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rRDLAgb1Cl ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rRDLAgb1Cl .navbar-buttons {
  text-align: center;
}
.cid-rRDLAgb1Cl button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rRDLAgb1Cl button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rRDLAgb1Cl button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rRDLAgb1Cl button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rRDLAgb1Cl button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rRDLAgb1Cl button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rRDLAgb1Cl nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rRDLAgb1Cl nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rRDLAgb1Cl nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rRDLAgb1Cl nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rRDLAgb1Cl .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rRDLAgb1Cl a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rRDLAgb1Cl .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rRDLAgb1Cl .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
.cid-rRDLAgb1Cl .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rRDLAgb1Cl .navbar {
    height: 77px;
  }
  .cid-rRDLAgb1Cl .navbar.opened {
    height: auto;
  }
  .cid-rRDLAgb1Cl .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rRDM69qFTV {
  padding-top: 225px;
  padding-bottom: 225px;
  background-image: url("../../../assets/images/mbr-1920x1079.jpg");
}
.cid-rRDM69qFTV h1 {
  background-color: transparent;
  overflow: hidden;
  display: inline-block;
  color: transparent;
  line-height: 1;
}
.cid-rRDM69qFTV span {
  background-image: url("../../../assets/images/background2.jpg");
  background-size: 1920px 600px;
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: block;
  animation: scroll 14s infinite linear;
  pointer-events: none;
}
@keyframes scroll {
  0% {
    background-position-y: 0px;
  }
  99.999% {
    background-position-y: -600px;
  }
  100% {
    background-position-y: 0px;
  }
}
.cid-rRDM69qFTV .mbr-section-title {
  color: #ffffff;
}
.cid-rRDSuca7iD {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/mbr-1920x1079.jpg");
}
.cid-rRDSuca7iD .navbar-logo {
  width: 100px;
  margin-bottom: 10px;
  margin: auto;
}
.cid-rRDSuca7iD .navbar-brand {
  margin: auto;
  width: 100%;
  text-align: center;
}
.cid-rRDSuca7iD .socicon {
  font-size: 1.3rem;
  background: #e9e9e9;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rRDSuca7iD .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.cid-rRDSuca7iD .social-list .soc-item {
  display: inline-block;
  margin: 0 0.3rem;
}
.cid-rRDSuca7iD .text2 {
  color: #000000;
  text-align: left;
}
.cid-rRDSuca7iD .group-title {
  text-align: left;
  color: #000000;
  padding-bottom: 0.2rem;
}
.cid-rRDSuca7iD .logo-title {
  text-align: center;
}
.cid-rRDSuca7iD .logo-sub-title {
  text-align: center;
}
.cid-rRDSuca7iD .links {
  text-align: center;
  color: #656565;
}
.cid-rRDSuca7iD .logo-sub-title i {
  color: #9e9e9e;
}
.cid-rRDLAgb1Cl .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rRDLAgb1Cl .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-rRDLAgb1Cl .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-rRDLAgb1Cl .nav-link {
  position: relative;
}
.cid-rRDLAgb1Cl .nav-link:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: .2;
  height: 50%;
  width: 100%;
  background-color: currentColor;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s ease-out;
}
.cid-rRDLAgb1Cl .nav-link:hover:before {
  transform-origin: left top;
  transform: scale(1, 1);
}
.cid-rRDLAgb1Cl .container {
  display: flex;
  margin: auto;
}
.cid-rRDLAgb1Cl .navbar.navbar-short .nav-link,
.cid-rRDLAgb1Cl .navbar.navbar-short .navbar-caption,
.cid-rRDLAgb1Cl .navbar.navbar-short .mbr-iconfont,
.cid-rRDLAgb1Cl .navbar.navbar-short .btn {
  color: #000000 !important;
  border-color: #000000;
}
.cid-rRDLAgb1Cl .navbar.navbar-short .hamburger span {
  background: #000000 !important;
}
.cid-rRDLAgb1Cl .navbar-caption {
  padding-right: 3rem;
}
.cid-rRDLAgb1Cl .dropdown-menu,
.cid-rRDLAgb1Cl .navbar.opened {
  background: #000000 !important;
}
.cid-rRDLAgb1Cl .nav-item:focus,
.cid-rRDLAgb1Cl .nav-link:focus {
  outline: none;
}
.cid-rRDLAgb1Cl .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rRDLAgb1Cl .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rRDLAgb1Cl .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rRDLAgb1Cl .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rRDLAgb1Cl .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rRDLAgb1Cl .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rRDLAgb1Cl .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
  background: none;
}
.cid-rRDLAgb1Cl .navbar.opened {
  transition: all .3s;
}
.cid-rRDLAgb1Cl .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rRDLAgb1Cl .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-rRDLAgb1Cl .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rRDLAgb1Cl .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-rRDLAgb1Cl .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rRDLAgb1Cl .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rRDLAgb1Cl .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rRDLAgb1Cl .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rRDLAgb1Cl .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rRDLAgb1Cl .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rRDLAgb1Cl .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rRDLAgb1Cl .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rRDLAgb1Cl .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rRDLAgb1Cl .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rRDLAgb1Cl .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rRDLAgb1Cl .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rRDLAgb1Cl .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rRDLAgb1Cl .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rRDLAgb1Cl .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rRDLAgb1Cl .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-rRDLAgb1Cl .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rRDLAgb1Cl .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rRDLAgb1Cl .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-rRDLAgb1Cl .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rRDLAgb1Cl .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rRDLAgb1Cl .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rRDLAgb1Cl .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rRDLAgb1Cl .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rRDLAgb1Cl .dropdown-item.active,
.cid-rRDLAgb1Cl .dropdown-item:active {
  background-color: transparent;
}
.cid-rRDLAgb1Cl .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rRDLAgb1Cl .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rRDLAgb1Cl .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rRDLAgb1Cl .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-rRDLAgb1Cl .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rRDLAgb1Cl .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rRDLAgb1Cl ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rRDLAgb1Cl .navbar-buttons {
  text-align: center;
}
.cid-rRDLAgb1Cl button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rRDLAgb1Cl button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rRDLAgb1Cl button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rRDLAgb1Cl button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rRDLAgb1Cl button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rRDLAgb1Cl button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rRDLAgb1Cl nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rRDLAgb1Cl nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rRDLAgb1Cl nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rRDLAgb1Cl nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rRDLAgb1Cl .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rRDLAgb1Cl a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rRDLAgb1Cl .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rRDLAgb1Cl .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
.cid-rRDLAgb1Cl .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rRDLAgb1Cl .navbar {
    height: 77px;
  }
  .cid-rRDLAgb1Cl .navbar.opened {
    height: auto;
  }
  .cid-rRDLAgb1Cl .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rRDSdvWOlE {
  padding-top: 225px;
  padding-bottom: 225px;
  background-image: url("../../../assets/images/mbr-1-1920x1079.jpg");
}
.cid-rRDSdvWOlE h1 {
  background-color: transparent;
  overflow: hidden;
  display: inline-block;
  color: transparent;
  line-height: 1;
}
.cid-rRDSdvWOlE span {
  background-image: url("../../../assets/images/background2.jpg");
  background-size: 1920px 600px;
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: block;
  animation: scroll 14s infinite linear;
  pointer-events: none;
}
@keyframes scroll {
  0% {
    background-position-y: 0px;
  }
  99.999% {
    background-position-y: -600px;
  }
  100% {
    background-position-y: 0px;
  }
}
.cid-rRDSdvWOlE .mbr-section-title {
  color: #ffffff;
}
.cid-rRDSycs0CV {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/mbr-1920x1079.jpg");
}
.cid-rRDSycs0CV .navbar-logo {
  width: 100px;
  margin-bottom: 10px;
  margin: auto;
}
.cid-rRDSycs0CV .navbar-brand {
  margin: auto;
  width: 100%;
  text-align: center;
}
.cid-rRDSycs0CV .socicon {
  font-size: 1.3rem;
  background: #e9e9e9;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rRDSycs0CV .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.cid-rRDSycs0CV .social-list .soc-item {
  display: inline-block;
  margin: 0 0.3rem;
}
.cid-rRDSycs0CV .text2 {
  color: #000000;
  text-align: left;
}
.cid-rRDSycs0CV .group-title {
  text-align: left;
  color: #000000;
  padding-bottom: 0.2rem;
}
.cid-rRDSycs0CV .logo-title {
  text-align: center;
}
.cid-rRDSycs0CV .logo-sub-title {
  text-align: center;
}
.cid-rRDSycs0CV .links {
  text-align: center;
  color: #656565;
}
.cid-rRDSycs0CV .logo-sub-title i {
  color: #9e9e9e;
}
